name: Deploy to Azure VM

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Deploy to VM
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd /home/isakroot/access-manager-proj
          git pull origin main
          export APP_ENVIRONMENT=${{ vars.APP_ENVIRONMENT }} AZURE_OPENAI_DEPLOYMENT=${{ vars.AZURE_OPENAI_DEPLOYMENT }} DUCKDB_PATH=${{ vars.DUCKDP_PATH }} LOG_LEVEL=${{ vars.LOG_LEVEL }} PARQUET_PATH=${{ vars.PARQUET_PATH }} TEMP_DIRECTORY=${{ vars.TEMP_DIRECTORY }} 
          sudo docker compose down
          sudo docker compose up -d --build
